
<!-- Footer -->
<footer class="">

  <div class="row">
      
      <div class="container">
          <a href="/about"><img src="images/chicken_footer.png" width="100%"></a>
      </div>
        <div class="row text-center" style="height: 80px">
          <div class="col-xs-6 col-md-4">
              <a href="#"><img src="images/facebook.png"></a>
          </div>
          <div class="col-xs-6 col-md-4">
              <a href="#"><img src="images/phone.png"><h3> 082-4053240 </h3></a>
            </div>
            <div class="col-xs-6 col-md-4">
              <p>LINE</p>
              </div>
            
            
        </div>
              
  </div>
        
        <div class="row">
            <div class="footer-copyright">© 2019 Copyright:
                <a href="#"> อมรรัชยาฟาร์ม</a>
              </div>
        </div>
        
</footer>
<!-- Footer -->