<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="" href="/item">
          <img class ="img-circle" src="/images/logo.png" alt="Brand" width="60" height="60"/>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">หน้าแรก</a></li>
          <li id="about"><a href="/about">ข้อมูลฟาร์ม</a></li>
          <li id="contact"><a href="/contact">ติดต่อฟาร์ม</a></li>
          <%typeof user == 'undefined'%>
          <% if (locals.user) { %>
            <li id="profile" ><a href="/item/profile" class="glyphicon glyphicon-user ">โปรไฟล์</a></li>
            <li id="logout">
              <a href="logout" class="btn btn-danger btn-lg">Logout</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  