<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>

</head>
<body>
<% include partials/menu %>
<script src="/javascripts/dropdown.js"></script>

<div class="main container">
    <tr>
        <div class="col-md-6 col-md-offset-3">
            <h1 class="display-4 m-b-2">
                    เพิ่มสินค้า
            </h1>
                <!--upload form-->
                <form id="uploadForm" enctype="multipart/form-data"  action="add/submit" method="POST" >
                    <div class="form-group">
                        <label for="name1">
                            ชื่อสินค้า:
                        </label>
                        <input class="form-control" id="name2" type="text" placeholder="name3" name="name4" required>

                    </div>
                    <div class="form-group">
                        <label for="pic1">
                            รูปที่1:        
                        </label>
                        <input type="file" name="image" accept=".jpg,.png" required>
                        <label for="pic2">
                            รูปที่2:        
                        </label>
                        <input type="file" name="image" accept=".jpg,.png">
                        <label for="pic3">
                            รูปที่3:        
                        </label>
                        <input type="file" name="image" accept=".jpg,.png">
                        <label for="pic4">
                            รูปที่4:        
                        </label>
                        <input type="file" name="image" accept=".jpg,.png">
                        <label for="pic5">
                            รูปที่5:        
                        </label>
                        <input type="file" name="image" accept=".jpg,.png">
                    </div>
                    <div class="form-group">
                            <label for="video">
                                วิดีโอ:        
                            </label>
                            <input type="file" name="video" accept=".mp4,.mov">
                        </div>
                    <div class="form-group">
                        <label for="detail">
                            รายละเอียด:       
                        </label>
                        <textarea class="form-control" name="detail" placeholder="detail" rows="5" style="width:100%; height:150px;" ></textarea>
                    </div>
                    <div class="form-group">
                            <label for="status">
                                    สถานะ:       
                                </label>
                                <select class="form-control btn-success" name="status" id="status" onclick="dropdownclicked(event)">
                                        <option class="btn-success" value="1" selected >มีสินค้า</option>
                                        <option class="btn-danger" value="0" >สินค้าหมด</option>
                                    </select>

                    </div>
                    <div class="form-group">
                        <label for="weight">
                            น้ำหนัก(กก.):       
                        </label>
                        <input class="form-control" id="weight" type="number" placeholder="kg." name="weight" >
                    </div>
                    <div class="form-group">
                        <label for="price">
                            ราคา(บาท):       
                        </label>
                        <input class="form-control" id="price" type="number" placeholder="baht" name="price" >
                    </div>
                    <div class="form-group">
                            <label for="tag">
                                Tag:       
                            </label>
                            <input class="form-control" id="tag" type="text" placeholder="tag" name="tag" >
                            <% for(var i=0; i < tags.length; i++) { %>
                                <button type="button" onclick="clickTag('<%= tags[i].tag %>')" class="btn btn-outline-secondary glyphicon glyphicon-tag"><%= tags[i].tag %></button>
                              <% } %>

                        </div>
                    <button class="btn btn-primary " onclick="clicked(event)" type="submit" >
                            อัพโหลด
                    </button>
                </form>
        </div>
            
    </tr>
</div>
     

</body>
<% include partials/script %>
</html>