<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<script src="/javascripts/getdate.js"></script>

<div class="container-fluid bg-3">
    <div class="container col-xs-6 center">
        <div class="embed-responsive embed-responsive-16by9">
          <video class="embed-responsive-item" controls="true" src="/videos/BNK48.mp4" type='video/mp4'></video>
          </div>
      </div>
</div>

<div class="container-fluid bg-3 text-center" id="item-list">
    <h3 class="text-left">ไก่ทั้งหมด:</h3>
    <% for(var i=0; i < items.length; i++) { %>
      <div class="col-md-2 col-sm-6 col-xs-12">
        <div class="thumbnail word-wrap">
                <a href="/showitem?itemid=<%= items[i].item_id %>">
                  <img class ="" src="/uploads/<%= items[i].pic1 %>" alt="Image"/>
                  
                </a>
                <div class="caption bottom ">
                    <a href="/showitem?itemid=<%= items[i].item_id %>"><%= items[i].name %></a>
                </div>
                <% if(items[i].status==0){%>
                  <img class ="status" src="/images/outofstock.png" alt="Image"/>
                <%}%>
        </div>
      </div>
      
    <% } %>
</div>
</body>
<% include partials/footer %>

<% include partials/script %>
</html>