body {
  padding: 0px;
  font: 14px "Sarabun", Helvetica, Arial, sans-serif;
}

a {
  color: #424949;
}

.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 18px;
  letter-spacing: 2px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #f8f8f8;
}
.navbar-nav>li>a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-nav  li a:hover {
  color: #F1C40F !important;
}
.active>a {
color: #D4AC0D !important;;
}

.center{
  position: relative;
  transform: translateX(50%);
}

div.word-wrap {
  word-wrap: break-word;
}

.greenColor{
background-color: #58D68D;
}
.redColor{
background-color: #EC7063;
}

.fontSarabun {
  font: 'Sarabun';
}

#logoutBtn.logoutBtn{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-width: 1px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.thumbnail{
    position: relative;
    height: 260px;
    width: auto;
    overflow: hidden;
}
#item-show .thumbnail{
  height: 420px;
  width: auto;
}

.thumbnail img{
  max-height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  max-width: unset;
}

.thumbnail .status {
  position: absolute;
  width: auto;
  height: 30%;
  left: unset;
  transform: unset;
  left: 0px;
}


.bottom {
  position: absolute;
  bottom: auto;
  left: 50%;
  transform: translate(-50%);
}

.thumbnail .caption {
  background-color: #212121;
  opacity: 0.85;
  width: 100%;
  padding: 2.5px;
  text-align: center;
  bottom: 0px;
}

.thumbnail .caption a{
  color: white;
  font-size: 16px;
}

footer {
  padding-top: 15px;
  padding-bottom: 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212121;
  color: white;
  text-align: center;
}

.w3-col.s4 {
  overflow: hidden;
}
