html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font: 14px "Sarabun", Helvetica, Arial, sans-serif;
}

a {
  color: #424949;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar-brand {
  float: left;
  height: 60px;
  width: 60px;
  padding: unset;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 18px;
  letter-spacing: 2px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #f8f8f8;
}
.navbar-default .navbar-nav>li>a {
  color: #3F3844;
}

.navbar-nav>li>a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-nav  li a:hover {
  color: #FFD700 !important;
}
.active>a {
color: #DAA520 !important;;
}

.center{
  position: relative;
  transform: translateX(50%);
}

div.word-wrap {
  word-wrap: break-word;
}

.greenColor{
background-color: #58D68D;
}
.redColor{
background-color: #EC7063;
}

.fontSarabun {
  font: 'Sarabun';
}

.thumbnail{
    position: relative;
    height: 260px;
    width: auto;
    overflow: hidden;
}
#item-show .thumbnail{
  height: 420px;
  width: auto;
}

.thumbnail img{
  max-height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  max-width: unset;
}

.thumbnail .status {
  position: absolute;
  width: auto;
  height: 50%;
  left: unset;
  transform: unset;
  left: 0px;
}


.bottom {
  position: absolute;
  bottom: auto;
  left: 50%;
  transform: translate(-50%);
}

.thumbnail .caption {
  background-color: #212121;
  opacity: 0.85;
  width: 100%;
  padding: 2.5px;
  text-align: center;
  bottom: 0px;
}

.thumbnail .caption a{
  color: white;
  font-size: 16px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #212121;
  text-align: center;
  color: white;
}

.w3-col.s4 {
  overflow: hidden;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: #DCDCDC;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #DAA520;
  background-color: #f8f8f8;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #212121;
  border-color: #B8860B;
}

.pagination>li>a, .pagination>li>span {
  color: #212121;
}

.thumbnail.about{
  height: 520px;
}