body {
  padding: 0px;
  font: 14px "Sarabun", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 20px;
  letter-spacing: 2px;
}
.navbar-nav>li>a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-nav  li a:hover {
  color: #F1C40F !important;
}
.active>a {
color: #D4AC0D !important;;
}

.center{
  position: relative;
  transform: translateX(50%);
}


img.img-on-img {
  position: absolute;
  /*left: 0px;
  top: 0px;*/
}
div.word-wrap {
  word-wrap: break-word;
}

.greenColor{
background-color: #33CC33;
}
.redColor{
background-color: #E60000;
}

.fontSarabun {
  font: 'Sarabun';
}